<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changeTokenByIncrementalKey</key>
	<dict>
		<key>PHAGraphRebuildTaskIncrementalKey</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkRkZDQzFGODUtNjIyOC00NTEyLUExNjAtQzgzNzFDNTNCM0I3
			EAjSIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFy
			eaIkJlhOU09iamVjdNIiIygpXxAZX05TUGVyc2lzdGVudEhpc3Rv
			cnlUb2tlbqMqKyZfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu
			XxAYTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu0iIjLS5fEBdQSFBl
			cnNpc3RlbnRDaGFuZ2VUb2tlbqIvJl8QF1BIUGVyc2lzdGVudENo
			YW5nZVRva2VuAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAagCD
			AIsAkgCUAJYAmACdAMIAxADGAM0A1QDgAOIA5ADmAOgA6gERARMB
			GAEjASwBOQE8AUUBSgFmAWoBhgGhAaYBwAHDAAAAAAAAAgEAAAAA
			AAAAMAAAAAAAAAAAAAAAAAAAAd0=
			</data>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkRkZDQzFGODUtNjIyOC00NTEyLUExNjAtQzgzNzFDNTNCM0I3
			EAjSIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFy
			eaIkJlhOU09iamVjdNIiIygpXxAZX05TUGVyc2lzdGVudEhpc3Rv
			cnlUb2tlbqMqKyZfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu
			XxAYTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu0iIjLS5fEBdQSFBl
			cnNpc3RlbnRDaGFuZ2VUb2tlbqIvJl8QF1BIUGVyc2lzdGVudENo
			YW5nZVRva2VuAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAagCD
			AIsAkgCUAJYAmACdAMIAxADGAM0A1QDgAOIA5ADmAOgA6gERARMB
			GAEjASwBOQE8AUUBSgFmAWoBhgGhAaYBwAHDAAAAAAAAAgEAAAAA
			AAAAMAAAAAAAAAAAAAAAAAAAAd0=
			</data>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkRkZDQzFGODUtNjIyOC00NTEyLUExNjAtQzgzNzFDNTNCM0I3
			EAjSIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFy
			eaIkJlhOU09iamVjdNIiIygpXxAZX05TUGVyc2lzdGVudEhpc3Rv
			cnlUb2tlbqMqKyZfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu
			XxAYTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu0iIjLS5fEBdQSFBl
			cnNpc3RlbnRDaGFuZ2VUb2tlbqIvJl8QF1BIUGVyc2lzdGVudENo
			YW5nZVRva2VuAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAagCD
			AIsAkgCUAJYAmACdAMIAxADGAM0A1QDgAOIA5ADmAOgA6gERARMB
			GAEjASwBOQE8AUUBSgFmAWoBhgGhAaYBwAHDAAAAAAAAAgEAAAAA
			AAAAMAAAAAAAAAAAAAAAAAAAAd0=
			</data>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>upgradeDate</key>
		<date>2024-08-06T18:43:22Z</date>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<key>nonIncrementalRunRecords</key>
	<dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-13T14:50:48Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>590847</real>
			<key>version</key>
			<integer>514</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-13T14:50:51Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>590850</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-13T14:50:48Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>590847</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>records</key>
	<dict>
		<key>PHAAssetRevGeocodeEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-20T11:15:36Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>594460</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHACachingCPAnalyticsPropertiesTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-12T19:01:27Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>-1</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAContactUpdateTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-14T15:51:08Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>590847</real>
			<key>version</key>
			<integer>514</integer>
		</dict>
		<key>PHAExternalAssetsTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-15T12:03:29Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>590847</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAFeaturesUsageReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-12T19:01:27Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>-1</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAForcedHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-14T15:51:08Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>-1</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-15T12:03:27Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>fteInterval</key>
			<real>590847</real>
			<key>version</key>
			<integer>514</integer>
		</dict>
		<key>PHAHighlightCollectionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-15T12:03:29Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>590847</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-15T12:03:29Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>-1</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMediaSampleReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-12T19:01:27Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>-1</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-15T12:03:29Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>fteInterval</key>
			<real>590850</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoryElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-15T12:03:29Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>-1</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPeopleSuggestionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-14T15:51:08Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>590850</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPortraitDonationEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-20T09:10:18Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>594460</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHARevGeocodeSyndicationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-20T09:10:18Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>594460</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-15T12:03:29Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>fteInterval</key>
			<real>590847</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASuggestionGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-15T12:03:29Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>-1</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASyndicationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-15T12:03:29Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>590847</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAUserBehaviorEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2024-08-13T14:50:51Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>590850</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
